In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
df = pd.read_csv('/Users/shakthimaha/Downloads/Dataset/dwelling2014-lsoa.csv')

In [46]:
df.columns

Index(['lsoa', 'GEOG', 'Name', 'Pre_1900', '1900_1918', '1919_1929',
       '1930_1939', '1945_1954', '1955_1964', '1965_1972', '1973_1982',
       '1983_1992', '1993_1999', '2000_2009', '2010_2014', 'UNKNOWN'],
      dtype='object')

In [47]:
unique_count = df["lsoa"].nunique()
unique_count

42350

In [48]:
unique_names = df_filtered["Name"].unique()
print(unique_names)

['County Durham 001A' 'County Durham 001B' 'County Durham 001C' ...
 'Newport 020D' 'Newport 020E' 'Newport 020F']

# filtering only LSOA

In [49]:
import pandas as pd


df = pd.read_csv('/Users/shakthimaha/Downloads/Dataset/dwelling2014-lsoa.csv')

df_filtered = df[df["GEOG"] == "LSOA"]

# df_filtered.to_csv('/Users/shakthimaha/Downloads/Dataset/dwelling2014-filtered.csv', index=False)



df_filtered.head(5)

,lsoa,GEOG,Name,Pre_1900,1900_1918,1919_1929,1930_1939,1945_1954,1955_1964,1965_1972,1973_1982,1983_1992,1993_1999,2000_2009,2010_2014,UNKNOWN
5,E01020634,LSOA,County Durham 001A,150,80,20,90,-,20,100,10,50,20,110,-,10
6,E01020635,LSOA,County Durham 001B,150,20,110,20,-,30,60,70,110,20,30,10,-
7,E01020636,LSOA,County Durham 001C,20,-,10,140,20,290,290,30,-,-,30,10,-
8,E01020654,LSOA,County Durham 001D,140,30,80,20,-,80,120,50,40,20,170,20,10
9,E01020676,LSOA,County Durham 001E,240,70,40,10,30,50,160,60,30,10,10,-,-

# filtering LSOA value which  is smilar to values
 in the Stock model dataset

In [50]:
df_energy = pd.read_csv("/Users/shakthimaha/development/Urban/EE_ER_By_CensusArea/Revised_Energy_Efficiency_Cleaned.csv")

In [51]:
df_energy.head(5)

,Revised_Energy_Efficiency,Revised_Energy_Efficiency_Rating,Unique_Property_Reference_Number,Statistical_Unit_ID,Output_Area,Lower_Super_Output_Area,Middle_Super_Output_Area,Output_Area_Classification,Ward_Code,Ward_Name,Administrative_Area
0,54.0,E,95510923,5.030100e+13,E00000010,E01000003,E02000001,2D3,E05009302,Cripplegate,CITY OF LONDON
1,54.0,E,100023615843,5.030100e+13,E00000010,E01000003,E02000001,2D3,E05009302,Cripplegate,CITY OF LONDON
2,63.0,D,200000071748,5.030100e+13,E00000012,E01000003,E02000001,3B3,E05009302,Cripplegate,CITY OF LONDON
3,63.0,D,200000071808,5.030100e+13,E00000012,E01000003,E02000001,3B3,E05009302,Cripplegate,CITY OF LONDON
4,63.0,D,200000071807,5.030100e+13,E00000012,E01000003,E02000001,3B3,E05009302,Cripplegate,CITY OF LONDON

In [ ]:
import pandas as pd


df = pd.read_csv('/Users/shakthimaha/Downloads/Dataset/dwelling2014-lsoa.csv')
df_energy = pd.read_csv('/Users/shakthimaha/development/Urban/EE_ER_By_CensusArea/Revised_Energy_Efficiency_Cleaned.csv')


df_filtered = df[df["GEOG"] == "LSOA"]


valid_lsoa_values = set(df_energy['Lower_Super_Output_Area'])


df_final = df_filtered[df_filtered['lsoa'].isin(valid_lsoa_values)]


df_final.to_csv('/Users/shakthimaha/Downloads/Dataset/dwelling2014-lsoa_filtered.csv', index=False)

print("Final filtered dataset saved successfully!")


df_final.head(5)

Final filtered dataset saved successfully!

,lsoa,GEOG,Name,Pre_1900,1900_1918,1919_1929,1930_1939,1945_1954,1955_1964,1965_1972,1973_1982,1983_1992,1993_1999,2000_2009,2010_2014,UNKNOWN
9794,E01033262,LSOA,Sheffield 073B,40,10,10,-,10,50,-,-,90,-,540,80,-
19913,E01015971,LSOA,Thurrock 006B,80,20,50,40,-,30,280,60,130,20,10,-,10
21158,E01021744,LSOA,Epping Forest 015C,-,-,-,390,20,60,170,-,-,-,40,-,-
21167,E01021752,LSOA,Epping Forest 016D,100,20,90,60,20,30,30,120,20,50,10,-,10
21877,E01023548,LSOA,Hertsmere 013A,80,40,40,110,120,90,70,50,70,50,40,10,20

In [53]:
unique_names = df_final["Name"].unique()
print(unique_names)

['Sheffield 073B' 'Thurrock 006B' 'Epping Forest 015C' ...
 'Spelthorne 001D' 'Tandridge 002D' 'Tandridge 003D']

In [54]:
name_counts = df_final["Name"].value_counts()
print(name_counts)

Name
Sheffield 073B     1
Enfield 019B       1
Enfield 018E       1
Enfield 018D       1
Enfield 018C       1
                  ..
Wandsworth 005C    1
Wandsworth 005B    1
Wandsworth 005A    1
Wandsworth 004G    1
Tandridge 003D     1
Name: count, Length: 4857, dtype: int64

In [57]:
print(df_energy.columns)  # Check column names in df
print(df_final.columns)  # Check column names in df_final

Index(['Revised_Energy_Efficiency', 'Revised_Energy_Efficiency_Rating',
       'Unique_Property_Reference_Number', 'Statistical_Unit_ID',
       'Output_Area', 'Lower_Super_Output_Area', 'Middle_Super_Output_Area',
       'Output_Area_Classification', 'Ward_Code', 'Ward_Name',
       'Administrative_Area'],
      dtype='object')
Index(['lsoa', 'GEOG', 'Name', 'Pre_1900', '1900_1918', '1919_1929',
       '1930_1939', '1945_1954', '1955_1964', '1965_1972', '1973_1982',
       '1983_1992', '1993_1999', '2000_2009', '2010_2014', 'UNKNOWN'],
      dtype='object')

In [66]:
len(df_energy)

4008957

In [67]:
len(df_final)

4857

In [68]:
# Ensure merge columns have the same type and remove extra spaces
df_energy["Lower_Super_Output_Area"] = df_energy["Lower_Super_Output_Area"].astype(str).str.strip()
df_final["lsoa"] = df_final["lsoa"].astype(str).str.strip()

# Perform the merge
df_merged = df_energy.merge(df_final, left_on="Lower_Super_Output_Area", right_on="lsoa", how="inner")

# Select only the required columns
selected_columns = [
    'Revised_Energy_Efficiency_Rating',  
    'Pre_1900', '1900_1918', '1919_1929', '1930_1939', '1945_1954', 
    '1955_1964', '1965_1972', '1973_1982', '1983_1992', '1993_1999', '2000_2009', '2010_2014'
]

# Keep only the selected columns
df_merged = df_merged[selected_columns]

# Save the merged result to an Excel file
df_merged.to_csv("merged_data.csv", index=False)

print("Merge successful! File saved as 'merged_data.xlsx'.")

/var/folders/5n/l1swydn11bg6c9v7_60kdfl00000gn/T/ipykernel_17142/397208906.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["lsoa"] = df_final["lsoa"].astype(str).str.strip()

Merge successful! File saved as 'merged_data.xlsx'.

In [63]:
df_merged.drop_duplicates()

,Revised_Energy_Efficiency_Rating,Unique_Property_Reference_Number,Statistical_Unit_ID,Output_Area,Lower_Super_Output_Area,Middle_Super_Output_Area,Output_Area_Classification,Ward_Code,Ward_Name,Administrative_Area,...,1919_1929,1930_1939,1945_1954,1955_1964,1965_1972,1973_1982,1983_1992,1993_1999,2000_2009,2010_2014
0,E,95510923,5.030100e+13,E00000010,E01000003,E02000001,2D3,E05009302,Cripplegate,CITY OF LONDON,...,-,-,-,20,780,-,-,60,40,-
1,E,100023615843,5.030100e+13,E00000010,E01000003,E02000001,2D3,E05009302,Cripplegate,CITY OF LONDON,...,-,-,-,20,780,-,-,60,40,-
2,D,200000071748,5.030100e+13,E00000012,E01000003,E02000001,3B3,E05009302,Cripplegate,CITY OF LONDON,...,-,-,-,20,780,-,-,60,40,-
3,D,200000071808,5.030100e+13,E00000012,E01000003,E02000001,3B3,E05009302,Cripplegate,CITY OF LONDON,...,-,-,-,20,780,-,-,60,40,-
4,D,200000071807,5.030100e+13,E00000012,E01000003,E02000001,3B3,E05009302,Cripplegate,CITY OF LONDON,...,-,-,-,20,780,-,-,60,40,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4008484,D,100022786004,5.990126e+13,E00023922,E01004730,E02000960,2D3,E05013805,Regent's Park,CITY OF WESTMINSTER,...,140,490,20,140,90,50,40,20,-,-
4008485,D,100022803633,5.990126e+13,E00023922,E01004730,E02000960,2D3,E05013805,Regent's Park,CITY OF WESTMINSTER,...,140,490,20,140,90,50,40,20,-,-
4008486,E,100022816736,5.990126e+13,E00023923,E01004730,E02000960,2D1,E05013805,Regent's Park,CITY OF WESTMINSTER,...,140,490,20,140,90,50,40,20,-,-
4008487,D,100022803632,5.990126e+13,E00023923,E01004730,E02000960,2D1,E05013805,Regent's Park,CITY OF WESTMINSTER,...,140,490,20,140,90,50,40,20,-,-
4008488,D,100022803635,5.990126e+13,E00023922,E01004730,E02000960,2D3,E05013805,Regent's Park,CITY OF WESTMINSTER,...,140,490,20,140,90,50,40,20,-,-

In [65]:
df_merged.head(10)

len(df_merged)

4008489